body{
  background: black;
  overflow: hidden;
}
main::after{
  height: 100%;
  position: absolute;
  left: calc(50% - 2px);
  top: calc(50% - 2px);
  width: 0;
  content: "";
  border: 1px solid red;
  width:4px;
  height:4px;
  display: none;
}
.ic{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sky{
  max-width:900px;
  opacity: 0;
  transition: opacity .2s linear
}
.sky.show{
  opacity: 1;
}
.i1{
  margin-top: 62px;
  margin-left: 137px;
}
.i2{
  margin-top: -25px;
  margin-left: -13px;
}
.i3{
  margin-top: -1px;
  margin-left: -61px;
}
.i4{
  margin-top: -51px;
  margin-left: -6px;
}
.i5{
  margin-top: 151px;
  margin-left: -3px;
}
.i6{
  margin-top: -59px;
  margin-left: 160px;
}
.i7{
  margin-top: 212px;
  margin-left: 63px;
}
.i8{
  margin-top: 120px;
  margin-left: 9px;
  height:500px;
  width:auto;
}
.i9{
  margin-top: -62px;
  margin-left: 26px;
}
.i10{
  margin-top: 143px;
  margin-left: -90px;
}
.i11{
  margin-top: -23px;
  margin-left: 57px;
}
.i12{
  margin-top: 19px;
  margin-left: 27px;
  width:430px;
  height:auto;
}
.i13{
  margin-top: 27px;
  margin-left: 40px;
}
