
:root {
  --animation_type: anim_2;
  --c_width: 100vw;
  --c_height: 100vh;
  --ground_width: 26vw;
  --ground_height: 26vw;
  --tree_shadow_opacity: 0.5;
  --tree_width: 50vw;
  --tree_height: 51vh;
  --rw: 1.2;
  --rh: 1.8;
}
textarea{
  font-size: 1vw;
}
.tree-1 .ss{
  width:0;
  height:0;
}
.tree-4{
  --tree_height:47vh;
  --rh:1.6;
}
.tree-4 .ss{
  width:1vw;
  height:1vh;
}
.tree-4 .trunk textarea{
  width:2.5vw;
}

.tree-3{
  --tree_height:43vh;
  --rh:1.4;
}
.tree-3 .sm{
  width:calc(var(--rw) * 2vw);
  height:calc(var(--rh) * 2vw);
}
.tree-3 .ss{
  width:0vw;
  height:0vh;
}
.tree-3 .trunk textarea{
  width:1vw;
}

.tree-2{
  --tree_height:32vh;
  --rw:.7;
  --rh:1.4;
}
.tree-2 .sl{
  width:calc(var(--rw) * 2vw);
  height:calc(var(--rh) * 1.8vw);
}
.tree-2 .sm{
  width:calc(var(--rw) * 2vw);
  height:calc(var(--rh) * .5vw);
}
.tree-2 .ss{
  width:0vw;
  height:0vh;
}
.tree-2 .trunk textarea{
  width:.7vw;
}

.tree-1{
  --tree_height:16vh;
  --rw:.7;
  --rh:1;
}
.tree-1 .sl{
  width:calc(var(--rw) * 2vw);
  height:calc(var(--rh) * 1.2vw);
}
.tree-1 .sm{
  width:calc(var(--rw) * 1vw);
  height:calc(var(--rh) * .2vw);
}
.tree-1 .ss{
  width:0vw;
  height:0vh;
}
.tree-1 .trunk textarea{
  width:.7vw;
  height:5vh;
}
#tree {
  transform: matrix3d( 1,0,0,0, 0,1,0,0, 0,0,1,0, 0,0,0,1);
  animation: var(--animation_type) 4s ease-in-out infinite alternate;
   /* transform-origin: 0vw 0vw 0vw; */
}

body {
  background-color: gray;
  overflow: hidden;
  margin: 0;
}
footer button{
  background: #eee;
  padding: 10px;
  font-family: sans-serif;
  font-weight: bold;
}
footer button:hover{
  background: #ccc;
}
.tree-1 .btn1, .tree-2 .btn2, .tree-3 .btn3, .tree-4 .btn4, .tree-5 .btn5{
  background: #aaa;
}
.orbitbinder {
  transform-origin: calc(var(--c_width)/2) calc(var(--c_height)/2);
  transform-style: preserve-3d;
}
.container {
  width: var(--c_width);
  height: var(--c_height);
  perspective: 100vw;
}
#ground {
  position: absolute;
  width: var(--ground_width);
  height: var(--ground_height);
  background: url(../img/ground.png) no-repeat center;
  background-size: 100% 100%;
  transform: translate3d( calc(50vw - var(--ground_width)/2), calc(50vh - var(--ground_height)/2), -10vw );
  transform-style: preserve-3d;
}
#tree {
  position: absolute;
  left: calc(var(--ground_width)/2);
  top: calc(var(--ground_height)/2);
  transform-style: preserve-3d;
}
.leaves {
  transition: all 1s ease-in-out;
  content: "";
  position: absolute;
  width: var(--tree_width);
  height: var(--tree_height);
  transform-origin: bottom;
  /* background: red ; */
  background-size: 100% 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:baseline;
}
.leaves .jump{
  flex-grow: 1;
  height: 0px;
  width: 100%;
  display: block;
  background: yellow;
}
.leaves textarea{
  transition: all 1s ease-in-out
}
.trunk textarea{
  height:10vh;
  width:3vw;
}
.ss{
  width:calc(var(--rw) * 2vw);
  height:calc(var(--rh) * 2vh);
}
.sm{
  width:calc(var(--rw) * 4vw);
  height:calc(var(--rh) * 4vh);
}
.sl{
  width:calc(var(--rw) * 4vw);
  height:calc(var(--rh) * 6vh);
}
.leaves1 {
  transform: translate(
      calc(0vw - var(--tree_width)/2),
      calc(0vw - var(--tree_height))
    )
    rotateX(270deg);
}
.leaves2 {
  transform: translate(
      calc(0vw - var(--tree_width)/2),
      calc(0vw - var(--tree_height))
    )
    rotateX(270deg) rotateY(72deg);
}
.leaves3 {
  transform: translate(
    calc(0vw - var(--tree_width)/2),
    calc(0vw - var(--tree_height))
    )
    rotateX(270deg) rotateY(144deg);
  }
.leaves4 {
  transform: translate(
      calc(0vw - var(--tree_width)/2),
      calc(0vw - var(--tree_height))
    )
    rotateX(270deg) rotateY(216deg);
}
.leaves5 {
  transform: translate(
      calc(0vw - var(--tree_width)/2),
      calc(0vw - var(--tree_height))
    )
    rotateX(270deg) rotateY(288deg);
}

@keyframes anim_2 {
  from { transform: matrix3d(1,0,0,0,0,1,0,0,.0825,0,1,0,0,0,0,1); }
  to { transform: matrix3d(1,0,0,0,0,1,0,0,.0425,0,1,0,0,0,0,1); }
}
