:root{
  --cylW:100vw;
  --cylH:34px;
}
body{
  height:304vh;
  background: url(../img/mud.png) no-repeat center top 100%;
  position:relative;
  overflow-x: hidden;
}

.top{
  background: #eee;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:calc(80vh - 120px);
  box-shadow: 0px 0px 40px black;
  z-index: 3;
  display: flex;
  justify-content: center;
  border-bottom:60px solid #161616;
  background: linear-gradient(to bottom, white 0%, rgba(212,212,212,1) 41%, #666 100%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.trees{
  width: 100%;
  height: 30vw;
  max-height: 400px;
  position: relative;
  top: 1vh;
}
.trees g{
  transition: all 7s ease-in-out;
}
.trees path{
  fill:rgba(255, 255, 0, 0);
}
.bridge{
  width:40vw;
  height:20px;
  background: gray url(../img/bridge.jpg);
  position: absolute;
  bottom:100vh;
  left:-2vw;
}
.root{
  width:400px;
  height:400px;
  background: url(../img/root.png) center no-repeat, linear-gradient(to bottom, rgba(135,135,135,0) 40%, rgba(135,135,125,1) 100%);
  position: absolute;
  bottom:140vh;
  left:-2vw;
}
.leaves{
  position: absolute;
  top:110vh;
  left:20vw;
}
.leave{
  transition: all 4s ease-in-out;
  background: transparent;
  position: absolute;
  box-shadow: 0 20px 100px red;
  display: block;
  width:20vw;
  height:20vw;
  opacity: .3;
  border-radius: 20vw;
}
.blade-box{
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top:70vh;
  right:14vw;
  height:200vh;
  width:10vw;
  border:2px solid purple;
}
.blade-box div{
  width: 33px;
  margin: 10px;
  height: 40px;
  /* border-left: 2px solid; */
  /* background: black; */
  border:1px solid #fff;
  border-radius: 100px;
  position: relative;
  left: 23px;
  margin-left: -23px;
}
.ground{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  filter: url(#water)
}
#frame {
  width: var(--cylH);
	transform-style: preserve-3d;  /* translate must be last */
	/* -moz-transform: rotateX(35deg) rotateY(45deg) rotateZ(15deg) translate3d(325px,-70px,50px); */
  background: red;
	transform: rotateX(0deg) rotateY(0deg) rotateZ(90deg) translate3d(80vh, calc(-50vw + 25px - (var(--cylW)) / 2), 0px)
}

.strip {
  transform-style: preserve-3d;
	animation: spin 25s infinite linear;
}

.strip div {
	position: absolute;
	background: #000 url(../img/cylinder.jpg);
	height:var(--cylW);
	width:var(--cylH);
	opacity: 1;}

.strip .a {background-position: 0 0;
	transform: rotateY(0deg) translateZ(124px)}
.strip .b {background-position: 759px 0;
	transform: rotateY(15deg) translateZ(124px)}
.strip .c {background-position: 726px 0;
	transform: rotateY(30deg) translateZ(124px)}
.strip .d {background-position: 693px 0;
	transform: rotateY(45deg) translateZ(124px)}
.strip .e {background-position: 660px 0;
	transform: rotateY(60deg) translateZ(124px)}
.strip .f {background-position: 627px 0;
	transform: rotateY(75deg) translateZ(124px)}
.strip .g {background-position: 594px 0;
	transform: rotateY(90deg) translateZ(124px)}
.strip .h {background-position: 561px 0;
	transform: rotateY(105deg) translateZ(124px)}
.strip .i {background-position: 528px 0;
	transform: rotateY(120deg) translateZ(124px)}
.strip .j {background-position: 495px 0;
	transform: rotateY(135deg) translateZ(124px)}
.strip .k {background-position: 462px 0;
	transform: rotateY(150deg) translateZ(124px)}
.strip .l {background-position: 429px 0;
	transform: rotateY(165deg) translateZ(124px)}
.strip .m {background-position: 396px 0;
	transform: rotateY(180deg) translateZ(124px)}
.strip .n {background-position: 363px 0;
	transform: rotateY(195deg) translateZ(124px)}
.strip .o {background-position: 330px 0;
	transform: rotateY(210deg) translateZ(124px)}
.strip .p {background-position: 297px 0;
	transform: rotateY(225deg) translateZ(124px)}
.strip .q {background-position: 264px 0;
	transform: rotateY(240deg) translateZ(124px)}
.strip .r {background-position: 231px 0;
	transform: rotateY(255deg) translateZ(124px)}
.strip .s {background-position: 198px 0;
	transform: rotateY(270deg) translateZ(124px);}
.strip .t {background-position: 165px 0;
	transform: rotateY(285deg) translateZ(124px)}
.strip .u {background-position: 132px 0;
	transform: rotateY(300deg) translateZ(124px)}
.strip .v {background-position: 99px 0;
	transform: rotateY(315deg) translateZ(124px)}
.strip .w {background-position: 66px 0;
	transform: rotateY(330deg) translateZ(124px)}
.strip .x {background-position: 33px 0;
	transform: rotateY(345deg) translateZ(124px)}
@keyframes spin {
  from { transform: rotateY(-360deg)}
	to   { transform: rotateY(0)}
}
