
body{
  background: #222;
  background-size: 130%;
  overflow: hidden;
}
main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frog{
  height:100%;
}
.frog svg{
  width:100%;
  height: 100%;
}
.frog svg rect{
  transition: all .3s linear;
}
