:root{
  --w1:400px;
  --h1:400px;
  --w2:450px;
  --h2:250px;
  --time:20s;
}
body{
  animation: water var(--time) linear 5s both;
  background: #eee;
}
main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width:var(--w1);
  height:var(--h1);
  position: relative;
}
.egg{
  border:1px solid black;
  border-radius: 30% 70% 38% 62% / 30% 66% 34% 70% ;
  animation: egg var(--time) linear 5s both;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.shadow{
  content: "";
  width:var(--w1);
  height:var(--h1);
  position: absolute;
  background: #ccc;
  top:5px;left:0;right:0;bottom: 0;
  filter: blur(3px);
  animation: shadow var(--time) linear 5s both;
  z-index: -1;
}
.inner{
  background-image: linear-gradient(to bottom, white 0%, transparent 100%);
	background-size: 200% 200%;
  animation: inner var(--time) linear 5s both;
}
.e1{
  transform: scale(.8);
}
.e2{
  transform: scale(.3);
}
@keyframes water {
  0%{
    background: #ccc;
  }
  100% {
    background: #efefef;
  }
}
@keyframes egg {
  0% {
    width:var(--w1);
    height:var(--h1);
    border-radius: 100%;
    background: #ccc url(../img/ephemere.png)no-repeat center center;
    background-size:0px;
    box-shadow: inset 0px 0px 0 rgba(0,0,0,0);
    border-color:black;
    filter: none;
  }
  100% {
    width:var(--w2);
    height:var(--h2);
    border-radius: 30% 70% 38% 62% / 30% 66% 34% 70% ;
    background: #cde9f2 url(../img/ephemere.png)no-repeat center center;
    background-size:calc(var(--w2)/3);
    box-shadow: inset 0px -20px 20px rgba(0,0,0,.05);
    border-color:transparent;
    filter: url(#filter);
  }
}
@keyframes inner {
  from {
    width: calc(var(--w1)*.5);
    height:calc(var(--h1)*.5);
    border-radius: 100%;
    background-position:0px 0%;
    filter: blur(0px);
    margin-top:0;
  }
  to {
    margin-top:-20px;
    width: calc(var(--w2)*.8);
    height:calc(var(--h2)*.8);
    border-radius: 30% 70% 38% 62% / 30% 66% 34% 70% ;
    background-size: 100% 100%;
    filter: blur(10px);
    background-position:0px 10%;
  }
}
@keyframes shadow {
  from {
    width: calc(var(--w1));
    height:calc(var(--h1));
    border-radius: 100%;
    background: #ccc;
  }
  to {
    top:calc(var(--w1)/7);
    left:10px;
    width:calc(var(--w1)*1.1);
    height: calc(var(--w1)/2);
    filter:blur(10px);
    border-radius: 30% 70% 38% 62% / 30% 66% 34% 70% ;
    background: #bbb;
  }
}
