main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  position: relative;
}
/* #canvas{
  width:572px;
  height:978px;
}
#canvas::after{
  content: "";
  margin: 0 25vw;
  position: absolute;
  top:0; right:0; bottom: 0; left: 0;
  background: linear-gradient(to right, #111 0%, transparent 50%, #111 100%);
} */
