:root{
  --iw:500px;
  --ih:800px;
}
body{
  display: flex;
  height: 97vh;
  justify-content: center;
  align-items: center;
  background: #222;
}
.tree-anim{
  height: 100%;
  width:var(--iw);
  height:var(--ih);
  border:1px solid green;
  background: #ddd;
  position:relative;
}
.tree-anim .tree{
  padding-top: 100px;
  max-width:none;
  width:calc(var(--iw)*5);
  position: relative;
  animation:.4s anim infinite step-end;
}
.top, .bottom{
  border:1px solid;
  position: absolute;
  width:calc(var(--iw) + 100px);
  left:-50px;
  top:0;
}
.top{
  border-color:yellow;
  height: 300px;
}
.bottom{
  border-color: seagreen;
  top:300px;
  height: calc(var(--ih) - 300px);
}

@keyframes anim {
  0%  {left:calc(var(--iw)*-0);}
  20% {left:calc(var(--iw)*-1);}
  40% {left:calc(var(--iw)*-2);}
  60% {left:calc(var(--iw)*-3);}
  80% {left:calc(var(--iw)*-4);}
}
