main{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.floor{
  background: white;
  width: 100%;
  height: 50vh;
  flex-direction: column;
  /* overflow: hidden; */
}
.floor .line{
  display: flex;
  width:110%;
  margin-left: -5%;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: line ease-in-out infinite alternate;
}
.floor .line:first-child:before{
  content: "⸥ ꞁ ⸠ / ⎛";
  /* filter: blur(2px); */
  font-family: sans-serif;
  color:#bbb;
  position: absolute;
  left:70%;
  font-size: 2em;
  top:-1.1em;
  z-index: 2;
}
main .sky{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  /* background: lightgray; */
  background: linear-gradient(to bottom, lightgray, white)
}
.sky .captions{
  color: yellow;
  font-size: 2.5vw;
  margin-bottom: 4vh;
  /* filter: blur(4px); */
  position: relative;
  font-family: "Happy Times at the IKOB New Game Plus Edition";
  animation: line 10s ease-in-out infinite alternate;
  transform: scale(1, -1);
}
.floor button{
  border-radius:80px;
  background:lightgray;
  border: 4px outset gray;
  margin: 3px;
  width:100%;
  height: calc(70% - 5px);
}
.floor button:active, .floor button.clicked{
  border: 4px inset gray;
  background: #666;
}
.floor button:hover{
  background: #aaa;
}
@keyframes line {
  from {left: -.5em;}
  to   {left: .5em;}
}
