:root{
  --tw : 70vw;
}
html,body{height: 100%;}
body{
  padding: 10vh 10vw;
  background: linear-gradient(to bottom, black 30%, #49535c 60%)
}
.billboard{
  position: relative;
  background: yellow;
  height: 100%;
  overflow: hidden;
}
.billboard table{
  width:var(--tw);
  height: calc(var(--tw)/4);
  border-width: 3px;
  border:0;
  transition: all .5s ease-in-out;
}
.billboard input{
  position: absolute;
  right:10px;
  bottom: 10px;
  padding: 0;
  transform: rotate(90deg);
  transform-origin: top right;
}

td[BGCOLOR='#ffffff']{
  background: transparent;
}
tr,td{
  border:0;
  border-right: 1px solid black;
  border-bottom:1px solid black;
}
td[BGCOLOR='#000000']{
  position: relative;
  /* top:0;left:0; */
  animation: 10s linear 0s infinite running rotate;
  animation-delay: calc(var(--index) * -0.25s);
  transform: rotate(20deg);
  transition: all 10s ease-in-out;
}
@keyframes rotate {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
