:root{
  --ih:16vh;
  --iw:16vw;
  --v2top:20vh;
  --v3left:10vw;
  --v3top:30vh;
}

body{
  background: black;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  transition: 1.5s all linear;
}
main{
  position: relative;
  cursor: crosshair;
}
.img-box{
  z-index: 3;
  position: absolute;
  left:0;
  top:0;
  padding: 10px;
  height: var(--ih);
  /* width:var(--iw); */
  margin: 1px;
  transition: 1.5s all linear;
}
.img{
  height:100%;
  width: auto;
  display: block;
  max-width: none;
  transition: 1.5s all linear;
}

.view-1 .img-box{
  height: 80vh;
  border: 1px solid red;
  background: transparent;
}
.view-1 .img{
  opacity: .2
}
.view-2 .img-box{  background: red;}
.view-3 .img-box{
  border: 1px solid yellow;
  background: transparent;
}
header p{
  display: none;
  color: white;
  position: absolute;
  top:5px;
  right: 30px;
  font-size: 30px;
}
.view-1 .current-1, .view-2 .current-2, .view-3 .current-3, .view-4 .current-4, .view-5 .current-5{display: block;}

.view-1 .box-1{left:calc(var(--ih)*3.105);}
.view-1 .box-2{left:calc(var(--ih)*2.06);}
.view-1 .box-3{left:calc(var(--ih)*1.45);}
.view-1 .box-4{left:calc(var(--ih)*0.74);}

.view-2{--ih:15vw;}
.view-2 .box-1{top:calc(2vh*5 + var(--v2top));}
.view-2 .box-2{left:calc(var(--iw)*.5);top:calc(2vh*4 + var(--v2top));}
.view-2 .box-3{left:calc(var(--iw)*1.43);top:calc(2vh*3 + var(--v2top));}
.view-2 .box-4{left:calc(var(--iw)*2.63);top:calc(2vh*2 + var(--v2top));}
.view-2 .box-5{left:calc(var(--iw)*4.17);top:calc(2vh*1 + var(--v2top));}

.view-3{--ih:20vw;}
.view-3 .box-1{left:calc(var(--v3left) + var(--ih)*0);
top:var(--v3top);
transform: rotate(0DEG);}
.view-3 .box-2{left:calc(var(--v3left) + var(--ih)*.3);
top:var(--v3top);
transform: rotate(-6DEG);}
.view-3 .box-3{left:calc(var(--v3left) + var(--ih)*.85);
top:var(--v3top);
transform: rotate(-10DEG);}
.view-3 .box-4{left:calc(var(--v3left) + var(--ih)*1.5);
top:var(--v3top);
transform: rotate(-10DEG);}
.view-3 .box-5{left:calc(var(--v3left) + var(--ih)*2.3);
top:var(--v3top);
transform: rotate(-9DEG);}

/* .view-4 .box-1, .view-4 .box-2, .view-4 .box-3, .view-4 .box-4{left:90vh;} */
.view-4 .img-box{height:90vh; margin:5vh;}
.view-4 .img-box img{height:100%;}

.slideshow{opacity: 0;transition:all 1.5s linear; width:100vw; height: 100vh;
display: flex; justify-content: center; align-items:center;}
/* .view-5 .img-box{width:10vh; left:90vw; top:90vh;} */
.view-5{background:blue;}
.view-5 .slideshow{opacity: 1; z-index: 4}
.slide{display: none; height:40vh;}
.slide.active{display: block;}
