:root{
 --imgH:90vh;
}
body{
  background: lime;
  /* background: radial-gradient(ellipse at center, #ccc 20%, #222 80%); */
  height: 100vh;
  /* box-shadow: inset 0 0 40vw black; */
  overflow: hidden;
}
main::after, main::before{
  content: "";
  border:2vh ridge black;
  position: absolute;
  top:0; left:0; bottom:0; right:0;
  z-index: 3;
}
main::after{
  border-color: red;
  margin: 4vh;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.half-face-container{
  position: relative;
  top:7vh;
  min-width:85vh;
  max-width:103vh;
  width: 90%;
  /* animation: part 6s ease-in-out infinite normal; */
  animation-delay: -4.5s;
}
#face1, #face2{
  height: var(--imgH);
  width: auto;
  position: absolute;
}
#face1 path, #face2 path{
  /* stroke:#2d5033; */
  stroke: black;
  /* display: none; */
}
#face1{
  left:0;
}
#face2{
  right: 0;
  transform: scale(-1, 1);
}
main .captions{
  position:absolute;
  width:40%;
  bottom: -59vh;
  left:calc(50% - 20%);
  text-align: center;
  /*! border:1px solid black; */
  font-size: 1.5vh;
  text-transform: uppercase;
  transform: scale(1,1.8);
  color: black;
  font-family: "Happy Times at the IKOB New Game Plus Edition", serif;
  font-weight: bold;
  line-height: 1em;
}
main .captions span{display: none;}
main .captions .cap-3,
main .captions .cap-4,
main .captions .cap-5{display: block;}
.tail{
  position: absolute;
  top:0; left:0; bottom:0; right:0;
  animation: tail 6s linear 25s forwards;
  opacity: 0;
}
.part{
  position: absolute;
  left: calc(50% - (22vh));
  top: 13vh;
  width:648px;
  border-right:5px solid rgba(0, 0, 0, 1);
  height: 66vh;
  background: transparent;
  border-radius: 130% 180%;
}
.part:nth-child(odd):after{
  content: "~";
  font-size: 3em;
  height:2px;
  position: absolute;
  right: 3.9em;
  font-family: "Happy Times at the IKOB New Game Plus Edition", serif;
  font-weight: normal;
  transform:rotate(48deg) scale(1.7, 1);
  bottom:0;

  transform-origin: right;
}

@keyframes tail {
  0%    {opacity:  0;}
  100%  {opacity:  1;}
}
