:root{
  --s:10px;
  --w:200vw;
}

body{
  background: url(../img/anim1.gif);
  background-size: var(--s);
  height: 200vh;
  max-width: var(--w);
  position: relative;
  cursor: grab;
  /* mask: url(../img/trees.svg) no-repeat center / contain; */
  /* mask: url(https://img.icons8.com/stackoverflow) no-repeat center / contain; */
    /* clip-path: url(#trees); */
}
.ground{
  position: absolute;
  bottom: 0vh;
  left: 0;
  width: 200%;
  height: 25vh;
  z-index: 1;
  background: url(../img/anim2.gif);
  background-size: calc(var(--s));
}
.proof{
  position: absolute;
  top: 0vh;
  left: 0;
  width: 400px;
  height: 400px;
  z-index: 1;
  border:1px solid purple;
  background: url(../img/anim2.gif), url(../img/anim1.gif);
  /* background-size: calc(var(--s)); */
}
.architecture-container{
  position: absolute;
  left:0;
  bottom:0;
  height:var(--w);
  width:var(--w);
  overflow: hidden;
  /* background: red; */
}
.architecture{
  position: absolute;
  left:60vw;
  bottom:10vh;
  width:21vw;
  height:var(--w);
  border:1px solid red;
  transform: skewX(-43deg);
  transform-origin: bottom left;
  /* background: linear-gradient(to top, transparent 89%, red 92%); */
  /* background: url(../img/anim2.gif) left;
  background-size: calc(var(--s)); */
  z-index: 3;
}
.architecture:after{
  content: "";
  position: absolute;
  right:-10px;
  bottom:0;
  width:21vw;
  height:210vh;
  border-right:1px solid blue;
  /* background: url(../img/anim2.gif) center;
  background-size: calc(var(--s)); */
  /* transform: skewX(-23deg); */
  z-index: 3;
}
.support{
  position: absolute;
  left:calc(var(--w)/1.5);
  height: 66vw;
  bottom:10vh;
  border-left:1px solid gray;
}
.life{
  position: absolute;
  left:calc(var(--w) - 191px);
  top:calc( 100vh - 135px);
  height: 30px;
  width: 120px;
  border:1px solid gray;
  border-radius: 20px;
  background: url(../img/anim1.gif) center, linear-gradient(to right, transparent 80%, red 100%);
  background-size: var(--s),100%;
  /* background-size: calc(var(--s)); */
}
.life::before{
  content: "";
  position: absolute;
  left:0px;
  top:-130px;
  width:120px;
  height:120px;
  border-radius: 120px;
  background: url(../img/anim1.gif) center;
  background-size: calc(var(--s));
}
.frame{
  position: fixed;
  left:75px;
  bottom:85px;
  height: calc(100vh - 85px*2);
  width: calc(100vw - 75px*2);
  border:1px groove gray;
  background: linear-gradient(to top, transparent 89%, rgba(255, 255, 0, 0.3) 100%);
}
.trees{
  position: absolute;
  bottom: 0vh;
  left: 20vh;
  width: 60vh;
  height: 65vh;
  z-index: 2;
  animation: anim 65s linear 2s;
  background: url(../img/anim2.gif),  url(../img/anim2.gif) center, url(../img/anim2.gif) right;
  background-size: calc(var(--s));
  /* To convert svg to polygon: https://betravis.github.io/shape-tools/path-to-polygon/ */
  clip-path:polygon(54.22% 5.34%, 52.42% 8.16%, 52.77% 11.03%, 51.79% 9.25%, 51.10% 8.27%, 51.96% 12.06%, 51.56% 16.61%, 51.45% 17.87%, 48.17% 12.93%, 45.41% 11.72%, 47.02% 14.02%, 49.89% 17.64%, 50.53% 20.40%, 52.16% 22.19%, 52.54% 28.56%, 52.02% 32.99%, 51.33% 31.84%, 51.90% 35.06%, 50.53% 33.51%, 51.45% 36.44%, 50.70% 38.10%, 48.00% 33.49%, 46.29% 29.27%, 48.51% 27.01%, 49.55% 25.92%, 48.34% 23.85%, 49.78% 19.88%, 49.03% 17.35%, 48.00% 20.11%, 47.08% 17.81%, 47.08% 21.20%, 46.43% 23.68%, 45.41% 18.90%, 45.35% 20.05%, 45.93% 26.49%, 45.06% 27.93%, 41.93% 25.63%, 40.98% 20.80%, 39.89% 14.59%, 38.22% 8.96%, 38.11% 12.93%, 39.26% 16.09%, 38.68% 21.95%, 36.56% 20.97%, 35.29% 14.19%, 32.47% 11.37%, 34.54% 14.94%, 34.16% 19.50%, 30.69% 19.94%, 28.51% 18.39%, 29.77% 20.28%, 33.91% 21.09%, 35.46% 22.47%, 39.77% 24.91%, 40.93% 27.87%, 42.82% 31.63%, 42.01% 31.26%, 41.85% 30.15%, 41.73% 31.14%, 39.57% 30.16%, 39.01% 28.48%, 38.98% 29.90%, 35.14% 28.16%, 41.38% 32.13%, 41.08% 35.41%, 37.82% 31.47%, 39.80% 35.55%, 40.35% 36.77%, 39.50% 36.54%, 35.84% 32.34%, 37.35% 35.29%, 39.96% 37.94%, 40.15% 40.76%, 38.40% 39.21%, 39.33% 40.92%, 39.09% 41.77%, 40.27% 44.17%, 40.02% 50.92%, 38.60% 47.91%, 37.75% 42.46%, 37.26% 43.03%, 36.57% 38.15%, 37.35% 35.29%, 36.24% 36.81%, 35.11% 32.83%, 35.59% 36.89%, 35.63% 39.13%, 33.64% 34.13%, 33.24% 29.90%, 33.28% 26.24%, 32.55% 29.74%, 33.15% 34.41%, 29.62% 32.46%, 32.63% 34.94%, 32.91% 36.65%, 34.25% 37.75%, 35.11% 41.04%, 35.55% 43.11%, 36.11% 45.62%, 35.55% 45.47%, 33.11% 39.82%, 33.75% 44.31%, 32.99% 43.72%, 31.29% 39.37%, 31.55% 41.72%, 29.46% 42.87%, 28.03% 36.61%, 28.85% 44.25%, 28.03% 44.90%, 27.30% 44.13%, 27.87% 42.38%, 27.06% 43.23%, 26.61% 40.47%, 26.57% 44.05%, 25.80% 42.95%, 26.16% 45.59%, 25.43% 48.97%, 24.37% 45.71%, 25.19% 40.55%, 26.16% 39.70%, 26.98% 36.08%, 25.59% 39.09%, 25.10% 34.06%, 24.98% 37.18%, 24.42% 40.63%, 23.85% 44.09%, 23.24% 42.99%, 22.51% 41.65%, 23.38% 36.81%, 21.69% 40.92%, 18.85% 40.19%, 21.37% 42.14%, 22.59% 43.72%, 21.85% 44.09%, 23.60% 46.16%, 24.74% 50.67%, 23.28% 47.67%, 19.74% 44.05%, 22.51% 47.99%, 20.13% 47.72%, 17.77% 47.89%, 18.26% 46.61%, 16.37% 49.68%, 16.39% 47.81%, 16.64% 45.97%, 17.07% 43.94%, 15.86% 47.95%, 15.59% 49.59%, 15.39% 50.36%, 14.98% 50.00%, 14.55% 46.73%, 14.96% 43.01%, 13.91% 46.79%, 14.06% 48.02%, 14.13% 49.22%, 12.37% 47.00%, 11.82% 46.28%, 10.82% 44.83%, 12.04% 47.72%, 13.20% 49.10%, 13.43% 50.08%, 14.18% 51.01%, 14.83% 53.47%, 13.65% 53.08%, 11.82% 52.92%, 12.62% 52.20%, 11.47% 52.79%, 10.97% 51.97%, 11.29% 53.08%, 10.77% 54.40%, 10.02% 52.75%, 9.66% 50.28%, 9.79% 53.01%, 10.50% 55.02%, 10.48% 56.41%, 10.36% 56.86%, 9.58% 54.56%, 9.28% 53.08%, 8.81% 51.70%, 8.21% 51.00%, 8.96% 53.15%, 8.84% 54.04%, 8.24% 52.49%, 8.56% 54.00%, 7.06% 53.30%, 8.60% 54.52%, 9.30% 55.52%, 9.76% 57.61%, 10.21% 59.42%, 9.82% 61.26%, 9.45% 61.92%, 10.40% 61.86%, 11.57% 62.15%, 11.14% 61.27%, 11.37% 57.52%, 11.10% 56.30%, 11.42% 55.45%, 11.11% 54.60%, 11.71% 53.18%, 12.06% 52.99%, 14.20% 53.56%, 15.63% 54.80%, 16.59% 57.92%, 16.72% 59.83%, 16.21% 63.86%, 15.32% 64.33%, 16.01% 64.95%, 16.32% 65.73%, 17.66% 65.01%, 18.92% 64.82%, 20.46% 66.09%, 20.29% 64.73%, 21.05% 63.97%, 20.14% 63.26%, 19.40% 57.81%, 18.95% 56.83%, 18.98% 56.00%, 18.75% 55.34%, 19.48% 52.95%, 20.17% 51.96%, 18.91% 52.94%, 18.28% 54.49%, 17.30% 52.82%, 17.04% 49.78%, 17.58% 48.38%, 19.15% 48.00%, 22.83% 48.56%, 23.89% 52.06%, 25.11% 55.59%, 26.24% 60.84%, 26.65% 63.32%, 25.84% 68.31%, 25.43% 70.71%, 24.37% 72.22%, 27.42% 71.73%, 29.21% 71.00%, 31.77% 72.46%, 33.20% 71.97%, 32.42% 70.71%, 33.92% 70.54%, 32.50% 69.62%, 32.38% 68.64%, 31.12% 66.93%, 30.59% 63.80%, 28.97% 58.68%, 27.91% 55.59%, 26.98% 52.38%, 28.60% 50.15%, 27.13% 50.86%, 27.10% 49.33%, 27.17% 46.16%, 29.25% 45.43%, 29.70% 44.08%, 31.57% 41.88%, 31.81% 44.01%, 33.64% 45.06%, 35.88% 47.22%, 37.59% 50.51%, 35.11% 48.52%, 35.51% 49.37%, 37.63% 52.99%, 38.35% 54.47%, 39.13% 60.84%, 39.13% 64.86%, 39.90% 66.12%, 38.24% 70.75%, 36.94% 74.49%, 41.24% 74.33%, 42.63% 76.08%, 44.78% 76.12%, 45.67% 75.43%, 44.25% 74.29%, 45.55% 73.11%, 43.85% 72.34%, 42.71% 59.70%, 45.06% 55.75%, 42.59% 57.89%, 42.54% 50.92%, 44.74% 45.88%, 42.63% 48.76%, 43.24% 43.93%, 44.25% 40.02%, 44.47% 39.54%, 44.47% 39.54%, 44.47% 39.15%, 42.59% 42.75%, 41.89% 42.10%, 42.18% 39.78%, 41.65% 36.89%, 42.01% 34.51%, 42.05% 32.59%, 44.09% 33.97%, 46.67% 39.02%, 48.80% 45.98%, 50.47% 51.10%, 52.02% 56.33%, 51.78% 57.69%, 51.73% 59.55%, 51.68% 62.82%, 52.77% 66.91%, 53.05% 70.64%, 52.82% 73.11%, 51.85% 76.05%, 52.19% 78.17%, 50.01% 82.94%, 49.72% 84.96%, 51.77% 82.73%, 55.18% 82.31%, 57.14% 82.37%, 60.59% 85.07%, 63.69% 85.65%, 61.91% 82.14%, 63.46% 78.97%, 61.62% 78.57%, 59.26% 67.19%, 57.65% 61.44%, 58.23% 57.94%, 58.29% 55.70%, 61.85% 49.43%, 60.59% 50.00%, 57.14% 54.49%, 55.58% 51.04%, 54.78% 47.07%, 55.12% 41.38%, 57.02% 39.66%, 55.41% 39.89%, 55.87% 33.72%, 61.62% 25.46%, 63.46% 24.31%, 65.30% 24.48%, 68.98% 19.65%, 64.26% 23.22%, 62.31% 24.14%, 62.83% 22.30%, 60.30% 25.00%, 60.82% 18.44%, 59.03% 23.56%, 57.60% 28.39%, 56.36% 31.27%, 56.91% 21.15%, 57.71% 16.78%, 59.68% 13.34%, 63.86% 8.56%, 58.98% 11.78%, 59.38% 8.90%, 57.88% 12.64%, 57.37% 11.43%, 55.81% 15.57%, 55.35% 18.96%, 54.55% 22.53%, 52.56% 19.55%, 52.94% 15.63%, 53.63% 11.89%, 53.34% 7.29%);
}

@keyframes anim {
  from {left:20vh;}
  to   {left:-20vh;}
}
