:root{
  --menuH:40px;
  --p:10px;
}

/* Menu */
#et-content{
  font-family: "Happy Times at the IKOB New Game Plus Edition", serif;
  display: flex;
  position:fixed;
  font-size: 25px;
  bottom:var(--p);
  left:0px;
  padding:var(--p);
  width:100%;
  height: var(--menuH);
  justify-content: space-between;
  align-items: center;
  color:yellow;
  z-index:100;
}

#et-content a{color:inherit;}
#et-content a:hover{opacity: .7;}
#et-button{
  background:yellow;
  width:20px;
  height:20px;
  border-radius: 40px;
  transition: all .2s linear;
  border: none;
  cursor:pointer;
  position:absolute;
  left: 20px;
  bottom: var(--p);
}
#et-button:before,
#et-button:after{
  height:0px;
  content:"";
  background: black;
  width:1px;
  bottom:10px;
  left:10px;
  position: absolute;
  transition: all .2s linear;
}
#et-button:before{transform: rotate(-45deg)}
#et-button:after{transform: rotate(45deg)}

#et-button .helper{
  display: none;
}

body[data-menu-helper='true'] #et-button .helper{
  display: block;
  color: black;
  font-size: 17px;
  font-weight: bold;
  font-family: "Happy Times at the IKOB New Game Plus Edition", serif;
}
body[data-menu-helper='true'] #et-button{
  width:30px;
  height:30px;
}
body[data-etmenu='true'] #et-button:before,
body[data-etmenu='true'] #et-button:after{
  bottom:4px;
  left:19px;
  height:30px;
}
body[data-etmenu='true'] #et-button{
  width:var(--menuH);
}
#et-button:hover{opacity:.8;}
#et-menu{display: none;}
body[data-etmenu='true'] #et-menu{
  display: flex;
  flex-direction: column;
  width:100%;
  background:yellow;
  color:black;
  line-height:1.8em;
  padding:var(--p);
  position:absolute;
  bottom:calc(var(--menuH) + var(--p)*2);
  left:0;
  width:50%;
  min-width:400px;
}
body[data-etmenu='true'] #et-button{
  height:var(--menuH);
}
#et-content .captions{
  pointer-events: none;
  display: none;
  font-size:calc(var(--menuH) - 3px);
  /* text-shadow:  -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; */
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black;
  width:100%;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.et-nav{
  margin-bottom:10px;
}
.et-nav section{
  width:100%;
  display: flex;
  justify-content: space-between;
}
.et-nav a, #et-content label{
  text-decoration: none;
  border:1px solid black;
  padding:0 7px;
}
body[data-captions='true'] #et-content .captions{
  display: block!important;
}
body[data-captions='false'] #et-content .captions{
  display: none;
}
@media (max-width:1000px) {
  #et-content .captions{
    font-size: 30px;
  }
}
@media (max-width:700px) {
  #et-content .captions{
    font-size: 25px;
    bottom: 10px;
  }
  #et-content{
    bottom:10px;
  }
  #et-menu{
    width:100%!important;
  }
  #et-button{
    width:40px;
    height:40px;
  }
  #et-button::before, #et-button::after{
    transition: none;
  }
}
