:root{
  --p:20px;
}
body{
  font-family: "Happy Times at the IKOB New Game Plus Edition", serif;
  font-size: 35px;
  line-height: 1.3em;
  padding: 4vw;
  background: black;
  color: yellow;
  letter-spacing: 1px;
}
header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
header h1{
  width:80%;
}
header nav{
  letter-spacing: 0px;
  font-size: .55em;
  width:20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
header button{cursor: pointer;}
header .info{
  display: none;
  margin-top:var(--p);
  background: yellow;
  padding: var(--p);
  color: black;
  font-size: .55em;
  letter-spacing: 0;
  line-height: 1.5em;
}
header .info .social{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom:var(--p);
}
header .info .description{
  width:100%;
}
body.about .info{
  display: block;
}
ol.list {
  border:1px solid yellow;
  padding:var(--p);
  margin-top:var(--p);
  list-style: none;
  counter-reset: counter;
  display: flex;
  /* flex-direction: column-reverse; */
  flex-direction: column;
  /*! line-height: 2.2em; */
}
ol li {
  counter-increment: counter;
  display: flex;
  position: relative;
  margin: 0 0 .4em 0;
  height: 1.8em;
}
ol li time{
  position: absolute;
  font-size: .4em;
  line-height: 1.4em;
  text-transform: uppercase;
  font-family: "JetBrains Mono", sans-serif;
  left: 2px;
  letter-spacing: 1px;
  bottom: -3px;
}
ol li img{
  margin-right: 3vw;
  height: 100%;
  display: block;
  width: auto;
  border:1px solid #222;
}
ol li::before {
  content: "Day " counter(counter)"";
  margin-right: var(--p);
  min-width: 8vw;
}
.langfr ol li::before {
  content: "Jour " counter(counter)"";
}
a{
  color: inherit;
}
footer{
  /* border-top:1px solid black; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top:var(--p);
  font-size: .8em;
  line-height: 1.4em;
  text-transform: uppercase;
  font-family: "JetBrains Mono", sans-serif;
}
footer p{
  width:45%;
}
.et-mobile-notice{
  display: none;
  background: yellow;
  position: absolute;
  top:10px; left:10px; right:10px; bottom:10px;
  color:black;
  padding:var(--p);
  align-items: center;
}
body.mobile-ok .et-mobile-notice{
  display: none;
}
body.langfr .en{display: none;}
body.langen .fr{display: none;}
body.langfr .btnfr:before, body.langen .btnen:before, body.about .btnabout:before{
  content:"✔ ";
}
.et-mobile-notice button{
  border:1px solid black;
  text-align: center;
  padding:0 7px;
  display: block;
  margin:40px auto 0 auto;
}
@media (max-width:1300px) {
  header h1, header .info{
    width: 100%;
    margin-bottom:var(--p);
  }
}
@media (max-width:1000px) {
  body{
    font-size: 1.4em;
  }
  footer p{
    width:100%;
  }
  .et-mobile-notice{
    display: flex;
  }
}
@media (max-width:400px) {
  ol.list{padding: 10px;}
}
::selection{
  color:white;
  background: black;
}
