:root{
  --w:10px;
}
body{
  overflow: hidden;
}
.all{
  position: absolute;
  bottom: 0;
  left: 0;
  width:100%;
  height: 20vh;
  background: #ccc;
  cursor: pointer;
  transition: all .2s linear;
  /* z-index: 4; */
}
main{
  perspective: 160vw;
  display: flex;
  background: #444;
  justify-content: space-around;
  align-items: flex-end;
  height: 100vh;
  /* animation: main 15s linear 0s; */
  /* transform-origin: bottom left: */
}
.tree{
  position: relative;
  cursor: pointer;
  bottom:17vh;
}
.tree:after{
  content: "";
  height: 10%;
  width:100%;
  bottom:0vh;
  left:0;
  background: black;
  position: absolute;
  transform: skewX(20deg) scale(1, -1);
  transform-origin: bottom;
  background: linear-gradient(to top, #888 0%, transparent 100%);
}
.branch{
  position: absolute;
  width:50%;
  height: 50%;
  bottom: 50%;
  transform-origin: bottom right;
}
.branch .cell{
  z-index: 5
}
.b2{
  transform: rotate(20deg);
}
.b3{
  transform: rotate(23deg);
}
.b4{
  transform: rotate(28deg);
}
.b5{
  transform: rotate(33deg);
}
.b6{
  transform: rotate(40deg);
}
.all:active, .tree:active{
  border-color:transparent;
}
.all:hover, .tree:hover, .tree:hover .branch{
  /* background:yellow; */
  background: #aaa;
}
.tree.off{
  border-color:red;
}
.t1{
  height: 10vh;
  width: calc(1 * var(--w));
}
.frame{
  border: 1px solid yellow;
  height: 30vh;
  width:10vw;
  bottom:12vh;
  left:2vw;
  position: absolute;
}
.t2{
  height: 30vh;
  width: calc(2 * var(--w));
}
.t3{
  height: 60vh;
  width: calc(3 * var(--w));
}
.t4{
  height: 90vh;
  width: calc(4 * var(--w));
}
.t5{
  height: 110vh;
  width: calc(6 * var(--w));
}
.t6{
  height: 120vh;
  width: calc(8 * var(--w));
}
.cell{
  width:100%;
  height:100%;
  position: absolute;
  bottom:0px;
  border-radius: 10%;
  background: green;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  /* animation: up 10s linear, curve 10s ease-in-out; */
}
@keyframes curve {
  0%   {margin-left: 0px;}
  50%  {margin-left: -40%;}
  100% {margin-left: -15%;}
}
@keyframes up {
  0% {bottom: 0%;}
  90% {opacity: 1}
  100% {bottom: 100%; opacity: 0}
}
@keyframes main {
  0%   {transform: scale(2, 2);}
  100% {transform: scale(1, 1);}
}
