:root{
  --c:paleturquoise;
}
body{
  /* background: var(--c); */
  overflow: hidden;
  background: linear-gradient(to top, teal 0%, var(--c) 70%);
}
main{
  perspective: 340px;
  height: 100vh;
  position: relative;
}
.container{
  transform: rotate3d(1, 0, 0, 30deg);
  position: absolute;
  transform-origin: bottom;
  left: 20vw;
  width:60vw;
  bottom: 0;
  height: 200vh;
}
#s1, #s2{
  position: fixed;
  top:0;
  font-size: 3vw;
}
#s1{
  left: 0;
}
#s2{
  right: 0;
}
.pl1{
  background: transparent;
  color: white;
  width:100%;
  height: 100%;
  white-space: pre;
  text-align: center;
  line-height: 1em;
  overflow-x: hidden;
  font-size: 8vh;
}
.container::after{
  content: "";
  position: absolute;
  top:-2%;
  left:-10%;
  height: 114vh;
  width:120%;
  background: linear-gradient(to bottom, var(--c) 10%, transparent 100%);
}
