main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "plan plan plan down down" "plan plan plan down down" "ladder ladder ladder down down" "ladder ladder ladder down down";
  height: 100vh;

}
.plan{
  grid-area: plan;
  display: flex;
  background:rgb(198, 219, 200);
  justify-content: center;
  align-items: center;
}

.ladder{
  background: black;
  grid-area: ladder;
  position: relative;
  overflow: hidden;
}
.ladder img{
  width:100%;
  border:3px solid black;
  background: yellow;
}
.down{
  position: relative;
  grid-area: down;
  background: #616b5e;
}
.down .left, .down .right, .bar{
  width:25px;
  height:110%;
  overflow: hidden;
  position: absolute;
  top:-5%;
  background: #16502d;
  border:5px outset #16502d;
}
.down .left{
  left:20%;
}
.down .right{
  right:20%;
}
.bars{
  margin-left:20%;
  width:60%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 120%;
  animation: bars 5s linear 0s infinite;
}
.bar{
  position: static;
  width:100%;
  height: 25px;
}
.bar:hover{
  border-color: rgb(75, 93, 79);
  background: rgb(75, 93, 79);
}
.bar:active{
  border-style: inset;
}
.fog{
  position: absolute;
  bottom:0;
  height:20%;
  left:0;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  align-items:stretch;
  align-content: flex-end;
  justify-content: flex-end;
}
.fog-item{
  width:40px;
  height:3vw;
  flex:1 auto;
  background: linear-gradient(45deg, rgb(57, 75, 20) 0%, transparent 100%);
}
@keyframes bars {
  0%   {top:0;}
  100% {top: calc(120% / -5);}
}
