body{
  overflow: hidden;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(#555 0%, black 100%);
}
.circle{
  width:  20vh;
  height: 20vh;
  background: #666;
  border-radius: 100%;
  z-index: 1;
  overflow: hidden;
}
.branch{
  width:2px;
  height: 120vw;
  background: #666;
  position: absolute;
  display: none;
  transform-origin: top;
  top: 50vh;
  left: 50vw;
}
.branch.visible{
  display: block;
}
.cloud{
  color: #999;
  text-align: center;
  font-size: 2em;
  font-family: monospace;
  width: 80vw;
  white-space: pre;
  width:400px;
  line-height: 10px;
  animation: cloud 25s linear 0s infinite;
}
::selection {
  background-color: #eee;
}
.ladder{
  display: none;
}
.ladder-on .ladder{
  display: block;
}

@keyframes cloud {
  from {margin-left: 30vh;}
  to   {margin-left: -60vh;}
}
