html,body{  height: 100%;}
body{
  background:#5d6b78;
  overflow: hidden;
}
main{
  height: 100%;
  width: 100%;
  position: relative;
  perspective: 340px;
}
.ground{
  position: absolute;
  width: 400%;
  height: 100vh;
  border-radius: 100%;
  background: lightgray;
  left: -150%;
  top:70vh;
}
 .frame{
  display: none;
  content: "";
  position: absolute;
  width: 80%;
  height: 80vh;
  border:2px solid red;
  top: 10%;
  left:10%;
  z-index: 3;
}

.billboard, .shadow{
  top: 20vh;
  right: 20vw;
  width: 10vw;
  max-width: 200px;
}
.billboard{
  border:1px solid black;
  position: absolute;
  height: 46vh;
  transform: rotate3d(0, 1, 0, -45deg);
  animation: billboard 8s ease-in-out 0s infinite alternate;
  font-size: 10px;
  line-height: 2em;
  padding: 1em;
  background: yellow;
}

.shadow{
  background: gray;
  position: absolute;
  top: 90vh;
  height: 10px;
  filter: blur(10px);
  transform: rotate3d(0, 1, 0, -45deg);
  animation: shadow 8s ease-in-out 0s infinite alternate;
}
.sky{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.trees{
  cursor: pointer;
  width:300px;
  height: 30vh;
  border: 2px solid gray;
  position: absolute;
  transform: rotateY(9deg) scale(.5);
  left: 20vw;
  top: 50vh;
}
.trees:hover{
  background: rgba(255,255,255,.1);
}
.branch, .trunk{
  background: black;
  position: absolute;
}
.branch{
  width:2px;
}


@keyframes billboard {
  from {
    top: 20vh;
  }
  to   {
    top: 25vh;
  }
}

@keyframes shadow {
  from {
    opacity:.5;
  }
  to   {
    opacity:.9;
  }
}

@media (max-width:800px) {
  .billboard, .shadow{
    right:15vw;
    width:20vw;
  }
}
