main{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #eee 30%, yellow 50%, #26342a 100%);
}
.creature{
  width:200px;
  height:300px;
  position: relative;
}
.c1{
  left:-10%;
}
.part{
  position: absolute;
  background: rgba(255,255,255,.2);
  border-radius: 100%;
  animation: move ease-in-out infinite normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body-item{
  position: relative;
  background: rgba(80,80,80,.2);
  top:10px;
  transition: all .3s linear;
  animation: item 2s ease-in-out infinite normal;
  border-radius: 100%;
}
.map{
  position: absolute;
  bottom: 0;
  right:0;
  width:30%;
  border:1px solid white;
  opacity: .2;
  cursor: pointer;
  transition: 2s all ease-in-out;
}
.map:hover{
  opacity: 1;
  cursor: pointer;
}
body.details .map{
  opacity: 1;
  width: 80%;
}
.map img{
  height 100%;
  width: auto;
}
.c2{
  /* transform: scale3d(1,2,2); */
  position: absolute;
  top: 0;
  right:0;
  width:30%;
  height:30%;
  background: url(../img/clouds.jpg);
  background-size: 50%;
  border-radius: 30px;
  overflow: hidden;
}
.c2 .part{
  background: transparent;
  border: 1px solid yellow;
}
.c2 .body-item{
  border: 1px solid yellow;
  background: transparent;
}

@keyframes move {
  0%  {margin-left: -30px;}
  50% {margin-left:  30px;}
  100%{margin-left: -30px;}
}
@keyframes item {
  0%  {top: 10px;}
  50% {top:  -10px;}
  100%{top: 10px;}
}
