:root{
  --cylW :30vw;
  --cylH :30vw;
}
body{
  overflow: hidden;
  background: #939393;
}
main{
  background: url(../img/ground.jpg);
  height:100vh;
}
img.bark{
  pointer-events: none;
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}



/* 1 */
.mecha-1{
  position: absolute;
  top:0;
  left:5vw;
}
#out{
  display: flex;
  width:90px;
  flex-wrap: wrap;
}

#out div{
 animation: an 10s ease-in-out 2s infinite alternate;
}

@keyframes an {
  0%   {width:2px; height: 2px;}
  25%  {width:6px; height: 6px;}
  50%  {width:5px; height: 8px;}
  75%  {width:4px; height: 4px;}
  100% {width:10px; height: 10px;}
}

/* 2 */

#frame {
  width: 250px;
  background: red;
  position: absolute;
  top: 19vh;
  left: 67vw;
}

.strip {
  transform-style: preserve-3d;

	animation: spin 25s infinite linear;
  /*! border-radius: 43px; */
}

.strip div {
	position: absolute;
	background: #000;
	height:419px;
	width:15px;
	opacity: 1;
	border-radius: 20px;
}
.strip .a {background-position: 0 0;
	transform: rotateY(0deg) translateZ(124px)}
.strip .b {background-position: 759px 0;
	transform: rotateY(40deg) translateZ(124px)}
.strip .c {background-position: 726px 0;
	transform: rotateY(80deg) translateZ(124px)}
.strip .d {background-position: 693px 0;
	transform: rotateY(120deg) translateZ(124px)}
.strip .e {background-position: 660px 0;
	transform: rotateY(160deg) translateZ(124px)}
.strip .f {background-position: 627px 0;
	transform: rotateY(200deg) translateZ(124px)}
.strip .g {background-position: 594px 0;
	transform: rotateY(240deg) translateZ(124px)}
.strip .h {background-position: 561px 0;
	transform: rotateY(280deg) translateZ(124px)}
.strip .i {background-position: 528px 0;
	transform: rotateY(320deg) translateZ(124px)}
.strip .j {background-position: 528px 0;
	transform: rotateY(360deg) translateZ(124px)}

@keyframes spin {
  from { transform: rotateY(-360deg)}
	to   { transform: rotateY(0)}
}

/* 4 */
.mecha-4{
  position: absolute;
  bottom:20vh;
  right:40vw;
}
.object{
  top:0;
  left:0;
  width:20vw;
  height:10vh;
  border:2px solid white;
  position: absolute;
  transition: all 1.5s linear;
  background: rgba(255, 255, 255, 0.1);
}
.o1{left:-10px;}
.o2{left:-20px;}
.o3{left:-30px;}
.o4{left:-40px;}
.o5{left:-50px;}
.mecha-4:hover .o1{transform: skew(35deg,  15deg);left:10px;}
.mecha-4:hover .o2{transform: skew(30deg,  20deg);left:20px;}
.mecha-4:hover .o3{transform: skew(25deg,  25deg);left:30px;}
.mecha-4:hover .o4{transform: skew(20deg,  30deg);left:40px;}
.mecha-4:hover .o5{transform: skew(15deg,  35deg);left:50px;}

/* 5 */
.mecha-5{
  position: absolute;
  top:30vh;
  left:40vw;
}
.fog-item{
  width:40px;
  height:3vw;
  background: linear-gradient(45deg, rgb(57, 75, 20) 0%, transparent 100%);
}

/* 6 */
.mecha-6{
  position: absolute;
  width:100px;
  top:20vh;
  left:20vw;
  border:4px groove gray;
  padding:4px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.rock{
  width:20px;
  height:20px;
  margin:4px;
  position: relative;
  border-radius: 100%;
  animation: rocks 15s linear 0s infinite;
  background: white;
  box-shadow: 0 0 20px white, inset 0 -5px 5px rgba(0,0,0,.3);
  transition: all .4s linear;
}
.rock:nth-child(odd){
  background: black;
}
.rock::before, .rock::after, .rock .glow{
  content: "";
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height: 100%;
  filter: blur(8px);
}
.rock:after{
  top:-5px;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(.4);
}

/* 7 */

.mecha-7{
  position: absolute;
  width:10vw;
  height:10vw;
  bottom:10vw;
  left:6vw;
  background: white;
  box-shadow: inset 0px 5px 7px gray;
}
.branch{
  width:2px;
  height: 12vw;
  background: black;
  position: absolute;
  display: none;
  transform-origin: top;
  top: 50%;
  left: 50%;
}
.branch.visible{
  display: block;
}
