html, body{
  height: 100%;
  background: rgb(44, 61, 54);
}
body{
  overflow: hidden;
}
.timeline{
  position: absolute;
  bottom: 67%;
  left: 62%;
  width:10%;
  z-index: 6;
  cursor: pointer;
  /* border:1px solid yellow; */
  border:0;
  /* background: gray; */
}
.timeline input{
  transform: rotate(-180deg);
  width:100%;
}
.jumper{
  position: absolute;
  width: 65%;
  height: 100vh;
  bottom: -7%;
  left: 0;
  z-index: 5;
}
.facecontainer{
  position: absolute;
  height: 130%;
  left: -0px;
  bottom: 0;
  width:80%;
}
.dot{
  width:  7px;
  height: 7px;
  border:1px solid white;
  position: absolute;
  transition: all 1s ease-in-out;
}
.facedot{
  background: #3c6e51;
  position: absolute;
  transition: all 1s ease-in-out;
}

@media (max-width:800px) {
}
