:root{
  --w:20vw;
}
html,body{height: 100%;}
body{
  overflow: hidden;
  background: lightgray;
}
main{
  position: relative;
  height: 100%;
  cursor: pointer;
}
.frame{
  position: absolute; width:var(--w);
  opacity: 0;
}
.frame.high{
  opacity: 1;
  animation: frame .8s ease-out forwards;
}
.north{top:0; left:0;}
.east{top:0; right:0; transform: rotate(90deg);}
.south{bottom:0; right:0; transform: rotate(180deg);}
.west{bottom:0; left:0; transform: rotate(270deg);}
.bug{
  width:var(--w);
  height:var(--w);
  display: flex;
  position: relative;
}
.bug svg{
  width:  var(--w);
  height: var(--w);
  display: block;
  position: absolute;
  top:0; left:0;
}
.spot{
  position: absolute;
  opacity: 1;
  animation: spot .3s ease-out forwards;
 }
 .spot.small{width:30px; height:30px;}
 .spot.medium{width:100px; height:100px;}
 .spot.large{width:400px; height:400px;}
/* .bug::after{
  content: "";
  width:7px;
  height:7px;
  background: black;
  border-radius: 20px;
  position: absolute;
  left: -5px;
  top:-5px;
} */
.bug svg path{
  fill:transparent;
  stroke:gray;
  stroke-width: 1px;
}
.animate-stroke {
  animation: dashoffset 5s ease-in-out forwards infinite;
}

@keyframes dashoffset {
  80% {
    stroke-dashoffset: 0;
  }
}
@keyframes spot {
  100% {
    opacity: 0;
  }
}

@keyframes frame {
  100% {
    opacity: 0;
  }
}
