:root{
  --iw:50px;
}
html, body{
  height: 100%;
}
body{
  background: #26342a;
  display: flex;
  justify-content:center;
  align-items: center;
  overflow: hidden;
}
main{
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: 80%;
  height: 80vh;
  border:1px solid yellow;
}
.tree-container{
  border:2px dotted white;
  display: flex;
  border-radius: 600px;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 1s linear;

}
.tree-container:after{
  content: "";
  position: absolute;
  left: 0;
  top:0;
  width:100%;
  height: 100%;
  border:1px solid blue;
  transition: all 1s linear;

}
.tree{
  width:30px;
  height:30px;
  padding-left:0px;
  padding-top:0px;
  border-radius: 100%;
  /* background: white; */
  border:2px solid black;
  align-items: center;
  position: relative;

}
.tree:after{
  content: "";
  position: absolute;
  left: 0;
  top:0;
  width:100%;
  height: 100%;
  border:1px solid cyan;
}
.tree .input-container{
  z-index: 3;
  transform-origin: center;
  animation: anim 20s linear 0s infinite normal;
  position: relative;
  transition: all 1s linear;

  /*! left: 5px; */
}
.tree input{
  position: relative;
  z-index: 3;
  transition: all 1s linear;
  left: 10px;
  top: 4px;
  cursor: pointer;
}
.tree .head{
  position: absolute;
  filter: blur(5px);
  top:40%;
  transition: all 1s linear;
}
.tree .dot{
  border-radius: 7px;
  position: absolute;
  width:2px;
  height:2px;
  background: cyan;
  /* border:2px solid cyan; */
  z-index: 1;
}
/* .t1 input{width:calc(var(--iw)*1);}
.t2 input{width:calc(var(--iw)*2);}
.t3 input{width:calc(var(--iw)*3);}
.t4 input{width:calc(var(--iw)*4);}
.t5 input{width:calc(var(--iw)*5);} */

@keyframes anim {
  from {transform: rotate(0deg);}
  to   {transform: rotate(360deg);}
}
