:root{
  --rw:20px;
}
body{
  background: #444 url('../img/t2.jpg');
  background-position: center;
  background-size:100% 100%;
  overflow: hidden;
  animation: bg 15s linear 0s infinite;
}
.rocks{
  width:100vw;
  height:100vh;
}
.rock{
  width:var(--rw);
  height:var(--rw);
  background: yellow;
  border-radius: 100%;
  position: absolute;
  animation: rocks 15s linear 0s infinite;
}
.rock .glow{
  background: white;
  transform: scale(1,.7);
}
.rock::before, .rock::after, .rock .glow{
  content: "";
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height: 100%;
  filter: blur(8px);
}
.rock:before{
  display: none;
  background: white;
  transform: scale(.1,1);
}
.rock:after{
  /* top:calc(var(--rw)/-4); */
  top:-5px;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(.4);
}

.bar{
  width:110%;
  height:20vh;
  overflow: hidden;
  position: absolute;
  top:0;
  left:-5%;
  background: #09331a;
  border-top:14px solid #124627;
  border-bottom:40px solid #031a0c;
  animation: bars 15s linear 0s infinite;
  box-shadow: 0 200px 100px rgba(0, 0, 0, 0.5);
}

@keyframes glow {
  from {filter: blur(5px);}
  to   {filter: blur(10px);}
}


@keyframes bars {
  0%   {top:130vh;}
  100% {top:-100vh;}
}
@keyframes bg {
  0%   {background-position: 0 0;}
  100% {background-position: 0 -100vh;}
}
@keyframes rocks {
  0%   {margin-top: 0;}
  100% {margin-top: -100vh;}
}
