body{
}
main{
  background: #eee;
  font-size: min(4vw, 30px);
  overflow: hidden;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "text word word" "text image current";
}
.grid-container>div {
  border-right: 1px solid red;
  border-top: 1px solid red;
}
.text-box {
  scroll-behavior: smooth;
  grid-area: text;
  height: 100vh;
  overflow-y: scroll;
  font-family: "Happy Times at the IKOB New Game Plus Edition", serif;
}
.text-box .day{
  padding: 2px;
  position: relative;
  border-top:1px solid red;
  padding-top:20px;
}
.text-box .day.selected{
  color:#eee;
  background: red;
}
.text-box .day .daylabel{
  font-size: 14px;
  color:red;
  position: absolute;
  text-transform: uppercase;
  right: 2px;
  top:2px;
  font-family: sans-serif;
}
.daylabel a {color: inherit;}
.image-box {
  height: 50vh;
  grid-area: image;
  overflow: hidden;
}
.image-box svg{
  width:100%;
  height: 100%;
}
.word-box {
  font-size: 20vw;
  height: 50vh;
  line-height: 1em;
  color: red;
  font-family: pecita, cursive, sans-serif;
  grid-area: word;
}
.word-box span{
  border:1px solid black;
}
.current-box {
  height: 50vh;
  grid-area: current;
}
.current-word{
  outline: 1px solid red;
}
.current-box .current-word{
  background: red;
  color:#eee;
}
.animate-stroke {
  animation: dashoffset .2s ease-in-out forwards;
  stroke:red;
  stroke-width: 10px;
}

@keyframes dashoffset {
  to {
    stroke-dashoffset: 0;
  }
}
@media (max-width:800px) {
}
