@font-face {
    font-family: 'pecita';
    src: url('Pecita.woff2') format('woff2'),
        url('Pecita.woff') format('woff'),
        url('Pecita.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
