:root{
  --w:20px;
  --nbrW:80;
  --nbrH:20;
}
body{
  background: #dbd7d0;
  position: relative;
  overflow-y: hidden;
  animation: ground 130s linear 0s infinite normal;
}
.gameboard {
  width:200vw;
  display: flex;
  flex-wrap: wrap;
  filter: grayscale(.5);
  position: relative;
}
.pixel {
  width:  calc(200vw / var(--nbrW));
  height: calc(100vh / var(--nbrH));
  transition: all .2s linear;
}
.controls{
  display: none;
}
.platform{
  position: fixed;
  bottom: 0;
  left: 0;
  width:100vw;
  height: 14vh;
  /* background: rgba(255, 255, 255, 0) url(../img/platform.svg); */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  animation: platform 5s linear 0s infinite normal;
  z-index: 3;
}
.clouds{
  position: fixed;
  bottom: 0;
  left: 0;
  width:200vw;
  height: 100vh;
  background:  url(../img/clouds.png) no-repeat;
  background-size: cover;
  animation: clouds 25s linear 0s infinite normal;
  z-index: 2;
  pointer-events: none;
}
.live {
  background-position: center!important;
}
.dead {
  background-position: -100%!important;
}

@keyframes ground {
  from {left: 0px;}
  to   {left: -100vw;}
}
@keyframes platform {
  from {background-position: 0px    0;}
  to   {background-position: -200vw 0;}
}
@keyframes clouds{
  from {left: 200vw;}
  to   {left: -200vw;}
}
