:root{
  --c:red;
}
body{
  font-family: pecita;
  color: var(--c);
  font-size: 30px;
  background: #222;
  padding: 20px;
}
main{
  border-radius: 30px;
  background: #dfd8d8;
  padding: 30px;
}
.text1{
  font-size: min(30px,2.5vw);
  border:2px solid var(--c);
  text-transform: uppercase;
  border-radius: 100%;
  margin-left: 10%;
  text-align: left;
  padding: 20px 0 10px 30%;
  margin-bottom: 10px;
}
main select{
  background: transparent;
  border: none;
  /* border:1px solid black; */
  padding: 0px;
  color: var(--c);
  text-transform: uppercase;
  font-family: pecita;
  font-size: 30px;
}
.images, .text1{
  filter: url(#texture);

}
.group{
  display: flex;
  justify-content: space-between;
  border:2px solid var(--c);
  padding: 5px;
  flex-wrap: wrap;
  width: 60%;
}
.group .image{
  width:49.5%;
}
.images{
  display: flex;
  justify-content: space-between;
  border:2px solid var(--c);
  padding: 20px;
  flex-wrap: wrap;
  width: 100%;
}
.image{width:30%;}
.froglines{
  margin-top:30px;
}
.frogs::after{
  content: "";
  width:28px;
  height: 2px;
  background: var(--c);
  transform:rotate(-34deg);
  position: absolute;
  bottom: 7%;
  left: 22%;
}
.image, .froglines{
  border:2px solid var(--c);
  align-self: flex-start;
  padding: 5px;
}
.images svg{
  display: block;
  width: 100%;
}
.images svg path{
  stroke-width:1px;
  stroke:var(--c);
  fill:none;
  stroke-linecap:round;
  animation: breath 3s ease-in-out 0s infinite alternate;
}
.frogs  svg path{animation-delay: .5s; animation-duration: 2.4}
.trees1 svg path{animation-delay: 00s; animation-duration: 3}
.trees2 svg path{animation-delay: 01s; animation-duration: 3.2}



@keyframes breath {
  0% {stroke-width: 1px;}
  60% {stroke-width: 1px;}
  100%   {stroke-width: 5px;}
}
