body{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}
#out{
  display: flex;
  width:368px;
  flex-wrap: wrap;
}

#out div{
 animation: an 40s ease-in-out 2s infinite alternate;
}

@keyframes an {
  0%   {width:4px; height: 4px;}
  25%  {width:2px; height: 5px;}
  50%  {width:2px; height: 5px;}
  75% {width:4px; height: 4px;}
  100% {width:4px; height: 4px;}
}
