body{  overflow: hidden;
}
main{
  background: #333;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5vh;
}
.creature{
  position: absolute;
  top:20vh;
  left: calc(50% - 25vw);
  border-radius: 100%;
  width:70vw;
  height:30vw;
  background: radial-gradient(ellipse at center, #222 0%, #333 60%);
  animation: creature 5s ease-in-out 0s infinite alternate;
}
.line{
  height: 10px;
  width:50%;
  position: relative;
}
.line:hover{
  border:1px solid gray;
}
.drop{
  /* border-left:1px solid red; */
  width:100px;
  height: 100vh;
  position: absolute;
  bottom:0;
  margin-left: -50px;
  padding:0 0 100vh 0;
  animation: drop 2s step-end forwards infinite;
  background: no-repeat;
  background-image: none;
  background-size: 700%;
  pointer-events: none;
}
.dropLine{
  height: 95%;
  margin-left: calc(50% - 1px);
  border-left:1px solid #2aac2f;
}
.bgdrop{
  position: absolute;
  top:0;
  height: 100%;
  border-left:1px solid transparent;
  animation: bgdrop 1s step-end forwards infinite;
}
@keyframes drop {
  00%   {padding:0 0 90vh 0;     background-image: none;}
  1%    {padding:0 0 50vh 0;     background-image: none;}
  2%    {padding:0 0 30vh 0;     background-image: none;}
  3%    {padding:10vh 0 10vh 0%; background-image: none;}
  4%    {padding:30vh 0 0 0;     background-image: url(../img/a.png);}
  5%    {padding:80vh 0 0 0;     background-image: url(../img/b.png);}
  6%    {padding:100vh 0 0 0;    background-image: url(../img/c.png);}
  7%    {padding:100vh 0 0 0;    background-image: url(../img/d.png);}
 10%    {padding:100vh 0 0 0;    background-image: none;}
100%    {padding:100vh 0 0 0;    background-image: none;}
}

@keyframes creature {
  from {margin-left: 200px;}
  to   {margin-left: -200px;}
}

@keyframes bgdrop {
  00%   {border-color: transparent;}
  1%    {border-color: #2aac2f;}
  3%    {border-color: transparent;}
100%    {border-color: transparent;}
}
