body{
  overflow: hidden;
  background: #63758e;
}
#blocker{
  width:100vw;
  height:100vh;
  position: absolute;
  left:0;
  top:0;
  padding: 50px;
  cursor: pointer;
}
.notebook{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 30px;
  background: #222;
}
.notebook:hover{
  background: rgba(34, 34, 34, 0.85);
  transition: all .2s linear;
}
