body{
  background: #bebebe;
  transition: all 20s linear;
}
body.light{
  background: #dedede;
}
main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image{
  display: none;
}
.sun{
  position: relative;
}
.sun .dot{
  width: 4px;
  height:4px;
  background: white;
  position: absolute;
  transition: top .2s linear;
  cursor: crosshair;
}
.sun .dot:hover{
  background: yellow;
}
.sun .line input{
  width: 100%;
}
