:root{
  --top:0%;
}
body{
  background: rgb(230, 122, 20);
}
main{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}
main:after{
  content: "";
  position: absolute;
  top:0; right:0; bottom: 0; left: 0;
  /* background: rgba(255, 255, 255,.5); */
}
.images{
  width:50%;
  height: 50vh;
  position: relative;
  overflow: hidden;

}
.images div{
  width:100%;
  position: absolute;
  height:100%;
}
.spore{
  position: absolute;
  background: #aaa;
  width:2px;
  height: 2px;
  /* opacity: .6; */
}
.filter{
  background-blend-mode: multiply;
  animation: faces 65s linear 0s infinite alternate;
}
.f1{filter: url(#f1)}
.f2{filter: url(#f2)}
.f3{filter: url(#f3)}
.f4{filter: url(#f4)}


@keyframes faces {
	from { background-position: center center, center center; }
	to { background-position: center bottom, center top; }
}
